.title {
    font-size: 64px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 64px;
    font-weight: bold;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    font-size: 32px;
}

.rps_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 128px;
    margin-bottom: 64px;
}

.player_choice_button {
    font-size: 64px;
}

.results {
    text-align: center;
    font-size: 24px;
}

li {
    list-style: none;
    text-align: center;
}